<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beego-Hello</title>
    <style>
        .key-text {
            color: red;font-weight: bold;
        }
        .space {
            margin-left: 30px;
        }
    </style>
</head>
<body>

<p>网关地址：<span class="key-text">{{.realIp}}</span></p>
<p>nginx-consule-template地址：<span class="key-text">{{.remoteAddr}}</span></p>
<p>本docker地址：<span class="key-text">{{index .interfaceIp 0}}</span></p>

<br/>
<br/>

<p>主机名称：<span class="key-text">{{.host}}</span></p>
<p>httpHost：<span class="key-text">{{.httpHost}}</span></p>
<p>IP(clientIP)：<span class="key-text">{{.ip}}</span></p>
<p>RemoteAddr：<span class="key-text">{{.remoteAddr}}</span></p>
<p>X-Real-IP：<span class="key-text">{{.realIp}}</span></p>
<p>公网地址：<span class="key-text">{{.publicIp}}</span></p>
<p>本地地址：<span class="key-text">{{.localIp}}</span></p>
<p>Host：<span class="key-text">{{.nginxHost}}</span></p>
<p>X-Forwarded-For：<span class="key-text">{{.XForwardedFor}}</span></p>
<p>HTTP_X_FORWARDED_FOR：<span class="key-text">{{.HTTP_X_FORWARDED_FOR}}</span></p>

<p>广播地址：</p>
{{range $k, $v := .interfaceIp}}
    <p><span class="key-text space">{{$v}}</span></p>
{{end}}

<p>代理proxy：</p>
{{range $k, $v := .proxy}}
    <p><span class="key-text space">{{$v}}</span></p>
{{end}}
</body>
</html>